.img_logo{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.contenedor_carousel{
    border: 3px solid var(--colorSecundario); /* Borde de 3 píxeles de color naranja */
    border-radius: 10px; /* Bordes redondeados opcionales */

    img{
        border-radius: 10px;
    }
}

.text_descuento{
    background-color: var(--colorSecundario);
    border-radius: 10px;
    width: 150px;
}

.container_descuento{
    margin-bottom: 40%;
}

.icono-comida{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: var(--colorSecundario);
    font-size: 40px ;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;

    &:hover {
            transform: scale(1.2);
            background-color: var(--colorSecundario);
            color: white;
            border: 2px solid white;
    }
    
}

.contenedor-menu{
    background-color: var(--colorSecundario) ;
    width: 100%;
}
